*,
*::before,
*::after{
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    font: .9em arial,helvetica,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

legend {
    font: 1.5em sans-serif,arial,helvetica,bold;
    font-weight: 600;
    text-align: left;
    padding-left: .7rem;
    padding-right: .7rem;
    color: var(--text-color);
}

#new_module_legend{
    text-align: center;
    font-size: 1.7rem;
}

fieldset:first-child{
    padding: 2rem;
    border-radius: 1.5rem;
}

fieldset:first-child > *{
    border-radius: 1rem;
}

fieldset{
    border-color: var(--legend-border-color);
}

#generate-btns_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    justify-items: center;
}

#btn-generate, #btn-cancel{
    width: 100%;
    margin: 0;
}

#modul_gen_fs ul *{
    display: block;
    width: 100%;
    align-items: center;
    justify-items: center;
}

#modul_loc_tr :first-child > *{
    display: inline-block;
    width: min-content;
}

label{
    color: var(--text-color);
}

input[type="url" i]{
    background-color: var(--input-text-bg-color);
    color: var(--input-text-color);
}