html, body {
    width: 100%;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    background: rgb(224, 223, 187);
    font: .9em arial,helvetica,sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
}

#modul-table{
    border:1px solid #fff;
}

legend {
    font: 1.5em arial,helvetica,sans-serif,bold;
}

.generate_btns{
	width: 100%;
	display: flex;
	/* margin-top: 10px; */
}

