# Generated code - any edits will be overwritten.

class {{data.template_params.class_name}}Interface:
    EVENT_INIT  = None # Init event
    {% for signal in data.user_signals %}
    EVENT_{{signal}} = None {% if signal in data.notes %}# {{data.notes[signal]}}
                            {% endif %}
    {% endfor %}

    {% for func in data.user_funcs %}
    def {{func}}(self):
        {% if func in data.notes %}
        """{{data.notes[func]}}"""
        {% endif %}
        pass

    {% endfor %}

    {% for func in data.user_guards %}
    def {{func}}(self):
        {% if func in data.notes %}
        """{{data.notes[func]}}"""
        {% endif %}
        return False

    {% endfor %}

    {% for func in data.user_inc_funcs %}
    def {{func}}(self, *args, **kwargs):
        {% if func in data.notes %}
        """{{data.notes[func]}}"""
        {% endif %}
        pass

    {% endfor %}

    {% for func in data.user_inc_guards %}
    def {{func}}(self, *args, **kwargs):
        {% if func in data.notes %}
        """{{data.notes[func]}}"""
        {% endif %}
        return False

    {% endfor %}

    {% for state in data.states.values() if state.type == 'call' %}
    def {{state.title}}(self):
        """Return a state method."""
        return None
    {% endfor %}


class {{data.template_params.class_name}}:
    def __init__(self, user_obj):
        self.user_obj = user_obj
        self.state_func = self.state_top

    def state_top(self, event):
        if event == self.user_obj.EVENT_INIT:
{% for func in data.states.__top__.sys_signals.init.funcs %}
            self.user_obj.{{func[0]}}({{func[1]}})
{% endfor %}
            self.state_func = self.state_{{data.states.__top__.sys_signals.init.target_title}}

{% for state in data.states.values() if state.type == 'normal' %}
    def state_{{ state.title }}(self, event):
        {% for signal in state.signals.values()%}
        if event == self.user_obj.EVENT_{{signal.name}}:
            {% for guard_key, guard in signal.guards.items() | sort %}
                {% if guard_key %}
            if self.user_obj.{{guard.guard_func}}({{guard.guard_param}}):
                    {% for func in guard.funcs %}
                self.user_obj.{{func[0]}}({{func[1]}})
                    {% endfor %}
                    {% if guard.target %}
                        {% if guard.target_type == 'call' %}
                self.state_func = self.user_obj.{{guard.target_title}}(event{% if guard.target_param%}, {{guard.target_param}} {% endif%})
                        {% else %}
                self.state_func = self.state_{{guard.target_title}}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% for func in guard.funcs %}
            self.user_obj.{{func[0]}}({{func[1]}})
                    {% endfor %}
                    {% if guard.target %}
                        {% if guard.target_type == 'call' %}
            self.state_func = self.user_obj.{{guard.target_title}}(event{% if guard.target_param%}, {{guard.target_param}} {% endif%})
                        {% else %}
            self.state_func = self.state_{{guard.target_title}}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% for guard_key, guard in state.guards.items() | sort %}
        if self.user_obj.{{guard.guard_func}}({{guard.guard_param}}):
            {% for func in guard.funcs %}
            self.user_obj.{{func[0]}}({{func[1]}})
            {% endfor %}
                {% if guard.target %}
                    {% if guard.target_type == 'call' %}
            self.state_func = self.user_obj.{{guard.target_title}}(event{% if guard.target_param%}, {{guard.target_param}} {% endif%})
                    {% else %}
            self.state_func = self.state_{{guard.target_title}}
                    {% endif %}
                {% endif %}
        {% endfor %}

{% endfor %}