.state_body {
    stroke: var(--state-body-color);
    stroke-width: 0.2;
    fill: none;
    rx: 0.5px;
}

.state_border {
    stroke: var(--state-border-color); 
    stroke-width: 0.8;
    fill: none;
    rx: 0.5px;
    opacity: 0;
    color: var(--state-text-color);
}

.state_border:hover {
    opacity: 0.4;
}

.state_border_highlight {
    stroke: var(--state-border-highlight-color);
    opacity: 0.4;
}

.initial_state {
    stroke: none;
    stroke-width: 0.4;
    fill: var(--intial-state-fill-color);
    r: 0.7px;
}

.initial_state:hover {
    stroke: var(--initial-state-hover-color);
    stroke-width: 0.5px;
}

.state_border_deleting {
    stroke: var(--state-border-deleting); 
    stroke-width: 0.8;
    fill: none;
    rx: 0.5px;
    opacity: 0.4;
}

.transition_handle {
    stroke: var(--transition-handle-color); 
    stroke-width: 0.8;
    fill: none;
    rx: 0.5px;
    opacity: 0;
    cursor: grab;
}

.transition_handle:hover {
    opacity: 0.4;
}

.transition_handle_deleting {
    stroke: var(--transition-handle-deleting-color);
    stroke-width: 0.8;
    fill: none;
    rx: 0.5px;
    opacity: 0;
    cursor: auto;
}

.transition_handle_deleting:hover {
    opacity: 0.4;
}

.transition_handle_highlight_draw {
    opacity: 0.4;
    cursor: crosshair;
}

.transition_handle_highlight_edit {
    stroke: var(--transition-handle-highlight-edit-color);
    opacity: 0.4;
    cursor: grab;
}

.transition_handle_highlight_drag {
    opacity: 0.4;
    cursor: grab;
}

.state_separator {
    stroke: var(--state-separator-color);
    stroke-width: 0.1;
    shape-rendering: crispEdges;
}

.state_resize_mark {
    stroke: var(--state-resize-mark-color);
    stroke-width: 0.1;
}

.state_title {
    font: bold 0.08em arial,helvetica,sans-serif;
    fill: var(--state-title-color);
}

.state_text {
    font: normal 0.08em arial,helvetica,sans-serif;
    fill: var(--state-text-color);
}

.transition_label {
    font: normal 0.07em arial,helvetica,sans-serif;
    fill: var(--transition-text-color);
}

.function {
    fill: var(--function-color);
}

.function:hover {
    fill: var(--function-hover-color);
}

.transition_label:hover {
    cursor: grab;
}

.state_drag_handle {
    fill: var(--state-drag-handle-color);
    opacity: 0.1;
    stroke: none;
    rx: 0.5px;
    cursor: move;
}

.state_resize_handle {
    fill: var(--state-resize-handle-color);
    opacity: 0.0;
    stroke: none;
    r: 0.5px;
    cursor: nwse-resize;
}

.transition_line {
    fill: none;
    stroke: var(--transition-line-color);
    stroke-width: 0.2;
}

.transition_arrow {
    fill: var(--transition-arrow-color);
    stroke: none;
    stroke-width: 0.0;
}
