
body.darkMode {
    --color: #0097fc;
    --color-accent: #0097fc4f;
    --color-bg: #333;
    --color-bg-secondary: #555;
    --color-link: #0097fc;
    --color-secondary: #e20de9;
    --color-secondary-accent: #e20de94f;
    --color-shadow: #bbbbbb20;
    --color-table: #0097fc;
    --color-text: #f7f7f7;
    --color-text-secondary: #aaa;
    --color-btn-hover: rgb(44, 118, 179);
}

body.lightMode {
    --color: #118bee;
    --color-accent: #118bee15;
    --color-bg-secondary: #e9e9e9;
    --color-link: #118bee;
    --color-secondary: #920de9;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #000;
    --color-text-secondary: #999;
    --color-bg: rgb(211, 210, 192);
    --color-bg-highlight: rgba(23, 197, 67, 0.1);
    --color-bg-html: rgb(224, 223, 187);
    --color-btn-hover: rgb(44, 118, 179);
}


html, body {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    /* background: (--color-bg); */
    background: var(--color-bg-html);
    /* --text-color-normal: #0a244d; */
    --text-color-normal: var(--color-accent);

    --text-color-light: #8cabd9;
    font: 1rem arial,helvetica,sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between
}

.main {
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
    background: rgb(211, 210, 192);
}

#sidebar {
    padding: 0.2em;
    flex: 0 0 250px;
    margin-left: 5px;
    background: rgb(211, 210, 192);
}

#sidebar-handle {
    border-left: 1px solid #ddd;
    width: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: ew-resize;
}

#sidebar-handle:hover {
    border-left: 1px solid #aaa;
}

#sidebar-handle-text {
    border-radius: 0 4px 4px 0;
    height: 4em;
    width: 12px;
    background-color: #aaa;
    color: rgb(20, 20, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    font: 1.2em arial,helvetica,sans-serif;
    cursor: default;
}

#sidebar-handle-text:hover {
    background-color: #999;
}

.props {
    list-style: none;
    width: 100%;
    padding-left: 0;  
    margin-block-start: 1rem;
    margin-block-end: 1rem;  
}

#obj-label {
    width: 95%;
    margin: 0.1em;
}

#obj-text {
    width: 95%;
    margin: 0.1em;
    height: 5em;
    resize: vertical;
}

.button {
    background-color: steelblue;
    color: white;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em;
    border-radius: 0.2em;
    max-width: 14ch;
    text-align: center;
    align-items: center;
}

.button:hover {
    background-color: rgb(44, 118, 179);
    /* background-color: var(--color-btn-hover); */
    cursor: default;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.row-title {
    font: bold 1em arial,helvetica,sans-serif;
}

.checkbox-lable {
    font: 0.9rem arial,helvetica,sans-serif;
    display: flex;
    justify-content: space-between;
}

.button-inline {
    background-color: steelblue;
    color: white;
    padding: 0.3em;
    border-radius: 0.2em;
    width: fit-content;
    margin: 0.2em;
    font: 0.9em arial,helvetica,sans-serif;
}

.button-inline:hover {
    background-color: rgb(44, 118, 179);
    cursor: default;
}

table {
    font: 0.9em arial,helvetica,sans-serif;
    border-collapse: collapse;
}

th, td {
    /* border-bottom: 1px solid black; */
}

tr th:first-child {padding-left:0px;}
tr td:first-child {padding-left:0px;}
td, th {padding-left:1em;}

details {
    border: 1px solid rgb(8, 0, 0);
    border-radius: 4px;
    padding: .5rem .5rem .5rem;
    width: auto;
}

details li{
    display: inline-block;
}

#title{
    text-align: center;
}

nav ul li{
    align-items: center;
}

details fieldset li:first-child{
    padding-bottom: .5rem;
}

input[type="text" i]{
    background-color: whitesmoke;
}

textarea{
    background-color: whitesmoke;
}