

html, body {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    background-color: var(--html-bg);
    position: relative;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between
}

.main {
    width: 100%;
    height: 100%;

}

svg {
    width: 100%;
    height: 100%;
}

#sidebar {
    padding: 0.2em;
    flex: 0 0 250px;
    margin-left: 5px;
}

#sidebar-handle {
    border-left: 1px solid var(--sidebar-handle-border-left-color);
    width: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: ew-resize;
}

#sidebar-handle:hover {
    border-left: 1px solid var(--sidebar-handle-hover-border-left-color);
}

#sidebar-handle-text {
    border-radius: 0 4px 4px 0;
    height: 4em;
    width: 12px;
    background-color: var(--sidebar-handle-text-bg-color);
    color: var(--sidebar-handle-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font: 1.2em arial,helvetica,sans-serif;
    cursor: default;
}

#sidebar-handle-text:hover {
    background-color: var(--sidebar-handle-text-hover-color);
}

.props {
    list-style: none;
    width: 100%;
    padding-left: 0;    
}

#obj-label {
    width: 95%;
    margin: 0.1em;
}

#obj-text {
    width: 95%;
    margin: 0.1em;
    height: 20em;
    resize: vertical;
}

.button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em;
    border-radius: 0.2em;
    max-width: 14ch;
    text-align: center;
    align-items: center;
}

.button:hover {
    background-color: var(--button-hover-bg-color);
    color:var(--button-hover-text-color);
    cursor: default;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.row-title {
    font: bold 1.2em arial,helvetica,sans-serif;
    color: var(--row-title-text-color);
}

.button-inline {
    background-color: var(--button-inline-bg-color);
    color: var(--button-inline-text-color);
    padding: 0.3em;
    border-radius: 0.2em;
    width: fit-content;
    margin: 0.2em;
    font: 0.9em arial,helvetica,sans-serif;
}

.button-inline:hover {
    background-color: var(--button-inline-hover-bg-color);
    color: var(--button-inline-hover-text-color);
    cursor: default;
}

table {
    font: 0.9em arial,helvetica,sans-serif;
    border-collapse: collapse;
}

th, td {
    /* border-bottom: 1px solid var(--button-border-color); */
}

tr th:first-child {padding-left:0px;}
tr td:first-child {padding-left:0px;}
td, th {padding-left:1em;}

details {
    border: 1px solid var(--details-border-color);
    color: var(--details-text-color);
    border-radius: 4px;
    padding: .5rem .5rem .5rem;
    width: auto;
    font: 1em arial,helvetica,sans-serif;
}

details li{
    display: block;
    font: .8em arial,helvetica,sans-serif;
}

#title{
    text-align: center;
    color: var(--title-text-color);
    font: bold 1.2em arial,helvetica,sans-serif;
}

nav ul li{
    align-items: center;
}

fieldset{
    border-color: var(--details-fieldset-border-color);
}

details fieldset li:first-child{
    padding-bottom: .5rem;
}

input[type="text" i]{
    background-color: var(--input-text-bg-color);
    color: var(--input-text-color);
}

textarea{
    background-color: var(--input-textarea-bg-color);
    color: var(--input-textarea-color);
}

#help_details{
    width: max-content;
}

select{
    background-color: var(--input-select-bg-color);
    color: var(--input-select-color);
}